.container {
	width: 1088px;
	margin-left: auto;
	margin-right: auto;
}
.blog {
	font-size: 14px;
	color: #5863F8;
}
.satauri1 {
	font-size: 42px;
}
.satauri2 {
	font-size: 42px;
}
.bigdiv1{
	height: 314px;
	width: 352px;
	margin-top: 50px;
}
.bloutext1 {
	text-align: center;
	margin-top: 23px;
}