.container {
	width: 1088px;
	margin-left: auto;
	margin-right: auto;
}
.blog {
	font-size: 14px;
	color: #5863F8;
}
.satauri1 {
	font-size: 42px;
}
.satauri2 {
	font-size: 42px;
}
.bigdiv1{
	height: 314px;
	width: 352px;
	margin-top: 50px;
	background-color: #F8F8F8;
}
.bloutext1 {
	text-align: center;
	margin-top: 23px;
	color: #5863F8;
}
.business {
	font-size: 18px;
	margin-top: 5px;
	text-align: center;
}
.familly {
	font-size: 14px;
	text-align: center;
	color: #B1B1B1;
}