.container {
	width: 1088px;
	margin-left: auto;
	margin-right: auto;
}
.blog {
	font-size: 14px;
	color: #5863F8;
}
.satauri1 {
	font-size: 42px;
}
.satauri2 {
	font-size: 42px;
}
.bigdiv1{
	width: 352px;
	margin-top: 50px;
	background-color: #F8F8F8;
	padding-bottom: 23px;
	float: left;
}
.bloutext1 {
	text-align: center;
	margin-top: 23px;
	color: #5863F8;
}
.business {
	font-size: 18px;
	margin-top: 5px;
	text-align: center;
}
.familly1 {
	font-size: 14px;
	text-align: center;
	color: #B1B1B1;
	margin-top: 10px;
}
.familly2 {
	font-size: 14px;
	text-align: center;
	color: #B1B1B1;
}
.familly3{
	font-size: 14px;
	text-align: center;
	color: #B1B1B1;
}
.bigdiv2 {
	width: 352px;
	margin-top: 50px;
	background-color:#F8F8F8 ;
	float: left;
	padding-bottom: 23px;
	margin-left: 16px;
}
.clear {
	clear: both;
}
.bloutext2 {
	text-align: center;
	margin-top: 23px;
	color: #5863F8;
}
.bigdiv3 {
	width: 352px;
	margin-top: 50px;
	background-color:#F8F8F8 ;
	float: left;
	padding-bottom: 23px;
	margin-left: 16px;
}
.updiv {
	width: 1088px;
}
.downdivi {
	width: 1088px;
	margin-top: 16px;
}
.bigdiv4 {
	width: 352px;
	margin-top: 50px;
	background-color: #F8F8F8;
	padding-bottom: 23px;
	float: left;
}